
.box{
    position: absolute;
    background-color: #FFF0F0;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 400px;
    border-radius: 50px;
    align-content: center;
    text-align: center;
}

.campo{
    width: 500px;
    height: 40px;
    border-radius: 50px;
    border: 0;
    text-align: center;
    font-family: calibri;
    font-size: 18px;
}

.login{
    background-color: #23606E;
    border: 0;
    border-radius: 50px;
    color: white;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    font-family: calibri;
    font-size: 15px;
}

.login:hover{
    background-color: #459caf;
    cursor: pointer;
}

.link{
    text-decoration:none;
    font-family: calibri;
    color: black;
}

.link:hover{
    cursor: pointer;
    color: #818181;   
}

.background{
    position: fixed;
    background-image: url("Fundo.png");
    height: 700px;
    width: 1050px;
    background-position: center;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.rec{
    background-color: #23606E;
    border: 0;
    border-radius: 50px;
    color: white;
    width: 300px;
    height: 40px;
    margin-top: 20px;
    font-family: calibri;
    font-size: 15px;
}

.rec:hover{
    background-color: #459caf;
    cursor: pointer;
}

.aviso{
    margin-top: 30px;
    font-family: calibri;
    font-size: 18px;
}