<html>
<head>
    <title>Mensagens</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Mensagens/Style.css">
    <script src="Mensagens/Script.js"></script>
</head>

<body>
    <div class="corpo">
        <div>
            <p class="titulo">DOS SEUS ANÚNCIOS</p>
            <div class="line"></div>
        </div>

        <div style="margin-top: 100px;"></div>
        <div class="mensagem">
            <img src="Mensagens/mensagem.png" class="icon"/>
            <p class="qntmensagens">+10</p>
            <p class="desc">ANÚNCIO: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...</p>
            <div class="notification"></div>
        </div>

        <div class="mensagem">
            <img src="Mensagens/mensagem.png" class="icon"/>
            <p class="qntmensagens">+10</p>
            <p class="desc">ANÚNCIO: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...</p>
            <div class="notification"></div>
        </div>

        <div class="mensagem">
            <img src="Mensagens/mensagem.png" class="icon"/>
            <p class="qntmensagens">+10</p>
            <p class="desc">ANÚNCIO: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...</p>
            <div class="notification"></div>
        </div>

        <div class="mensagem">
            <img src="Mensagens/mensagem.png" class="icon"/>
            <p class="qntmensagens">+10</p>
            <p class="desc">ANÚNCIO: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...</p>
            <div class="notification"></div>
        </div>

        <div style="margin-top: 30px;">
            <p class="titulo">ANÚNCIOS TERCEIROS</p>
            <div class="line"></div>
        </div>

        <div style="margin-top: 100px;"></div>
        <div class="mensagemoutro">
            <p class="descoutro">ANÚNCIO: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...</p>
            <div class="notification"></div>
        </div>

        <div class="mensagemoutro">
            <p class="descoutro">ANÚNCIO: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...</p>
            <div class="notification"></div>
        </div>

        <div class="mensagemoutro">
            <p class="descoutro">ANÚNCIO: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...</p>
            <div class="notification"></div>
        </div>

        <div class="mensagemoutro">
            <p class="descoutro">ANÚNCIO: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...</p>
            <div class="notification"></div>
        </div>

        <div style="text-align: center;margin-top: 100px;margin-bottom: 50px;">
            SITE CRIADO POR GUSTAVO OLIVEIRA - 2024
        </div>
        
    </div>

    <div class="header">
        <div class="caixamenu">
            <a href="Tela inicial.html" class="menu">INÍCIO</a>
            <a href="Usuario.html" class="menu">PERFIL</a>
            <a href="Mensagens.html" class="menu">MENSAGENS</a>
            <a href="Criar.html" class="menu">CRIAR ANÚNCIO</a>
            <a href="Login.html"><button class="loginbutton">FAZER LOGIN</button></a>
        </div>
    </div>

</body>
</html>