<html>
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Login.css') }}">
    <script src="Login/Script.js""></script>
</head>

<body>
    <div class="background">
    <div class="box">
        <form>
            <input type="email" class="campo" placeholder="Digite seu e-mail" required/>
            <p>
            <button type="submit" class="rec">ENVIAR CÓDIGO DE RECUPERAÇÃO</button>
            <p class="aviso">Nós iremos enviar um código de recuperação para redefinir a senha </br>no e-mail cadastrado</p>
        </form>
    </div>
    </div>
</body>
</html>